.student-profile {
  min-height: 89vh;
  padding: 24px;
  background-color: #fff6d6; 
}


.student-profile h1 {
  font-size: 22px;
  margin-bottom: 14px;
  color: #333;
}


.student-profile p {
  background-color: #fffbea;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: #444;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  max-width: 150px;
  font-weight: 800;
}

@media (max-width: 480px) {
  .student-profile {
    padding: 16px;
  }

  .student-profile p {
    font-size: 14px;
    padding: 9px 12px;
  }
}
